.cabecera {
  background: linear-gradient(38deg, #000428, #004e92);
  color: #fafafa;
  display: flex;
  position: relative;
}

.cabecera__bloque1 {
  height: 100vh;
  width: 50%;
}

/* object-fit: …;
La propiedad object-fit se aplica a una imagen de contenido para indicar cómo se redimensiona respecto a su contenedor, cuando dicha imagen tiene un tamaño relativo a dicho contenedor (ejemplo: width: 100% y height: 100%).
  object-fit: cover;
  La imagen de contenido mantiene sus relación de aspecto (no se deforma) y cubre completamente el contenedor, aunque quede alguna parte cortada. [Ver más abajo]*/
.cabecera__bloque1 img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center top;
}
/*object-position: …;
Define cómo debe alinearse respecto al contenedor una imagen que tenga objectfit. Funciona de manera equivalente a background-position, admitiendo dos valores (alineación horizontal y vertical) que pueden ser palabras (left/right/top/bottom) o unidades relativas (como %) o absolutas (como px).*/

.cabecera__bloque2 {
  height: 100vh;
  width: 50%;
}

.cabecera__bloque2 img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center top;
}

.cabecera__titulo {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  text-align: center;
  padding: 3em;
}

img {
  display: block;
  opacity: 0.4;
  filter: grayscale(100%);
}

.articulo {
  max-width: 40em;
  margin: 5em auto;
  padding: 0 3em;
}

@media (max-width: 37.5rem) {
  .cabecera {
    flex-direction: column;
  }
  .cabecera__bloque1 {
    width: 100%;
    height: 50vh;
  }
  .cabecera__bloque2 {
    width: 100%;
    height: 50vh;
  }
  .cabecera img {
    width: 100%;
    height: 100%;
    object-position: center top;
  }
  .cabecera__titulo {
    align-items: center;
  }
}

/*  object-fit: contain;
La imagen de contenido mantiene sus relación de aspecto (no se deforma) y se
muestra completamente, aunque queden partes del contenedor sin cubrir.
    object-fit: fill;
La imagen de contenido cubre todo el contenedor y se muestra completa,
deformándose si es necesario.
    object-fit: none;
Cancela la propiedad object-fit, para los casos en los sea necesario devolver la
imagen a su visualización original.
    object-fit: scale-down;
Funciona como un object-fit: none o un object-fit: contain, en función de
cuál dé como resultado un tamaño de imagen más pequeño.*/