.cabecera {
  background: linear-gradient(38deg, #000428, #004e92);
  color: #fafafa;
  display: flex;
}

/* vh: Unidad relativa a la altura del viewport (normalmente, la ventana del navegador, pero podría ser un iframe). 
  100vh equivale al 100% de la altura del viewport. */
.cabecera__bloque1 {
  height: 100vh;
  width: 50%;
  background: url(../images/poloSur.jpg) no-repeat 40% top;
  background-size: cover;
}

.cabecera__bloque2 {
  height: 100vh;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em;
  text-align: center;
}

/* vw: Unidad relativa a la anchura del viewport. 
  100vw equivale al 100% de la anchura del viewport. 
  Es recomendable evitar aplicar un 100vw a un elemento (o combinación de elementos) porque la posición lateral de la barra de scroll en función del sistema operativo podría provocar un poco de scroll horizontal en la página. */
h1 {
  font-size: 5vw;
}

.articulo {
  max-width: 40em;
  margin: 5em auto;
  padding: 0 3em;
}


/* Media query: Correcciones para pantallas por debajo de 600px */

@media (max-width: 37.5em) {
  .cabecera {
    flex-direction: column;
  }

  .cabecera__bloque1 {
    height: 50vh;
    width: 100%;
  }

  .cabecera__bloque2 {
    height: auto;
    width: 100%;
    padding: 3em;
  }
}
