.contenedor {
  padding: 1em;
  display: grid;
  grid-template: repeat(2, 200px) / repeat(4, 200px);
  grid-gap: 20px;
  justify-content: space-evenly;
  justify-items: start;
  align-content: center;
  height: 100vh;
  align-items: end;
}
/* Reglas aplicadas al contenedor:
EJE X --> Reglas justify-… Las reglas justify se aplican el eje x, y alinean el contenido dentro de un espacio grid. 
    justify-content: …;
  Esta propiedad alinea las columnas de un grid cuando sobra espacio en dicho grid. Los valores que se pueden dar son: center (centrado), start (al inicio del espacio en el eje x), end (al final del espacio), stretch (las columnas crecen hasta ocupar todo el espacio), space-around (el espacio sobrante se reparte al principio y al final de cada columna), space-between (el espacio se reparte proporcionalmente entre las columnas) y space-evenly (el espacio se reparte como space-around, pero manteniendo la misma proporción entre columnas que en los exteriores).
    justify-items: …;
  Propiedad que alinea el contenido en el eje x en en interior de cada celda de la retícula. Los valores que se pueden dar son: center (centrado), stretch (ocupa el 100% de la celda), start (inicio de la celda), end (final de la celda).*/

/* Reglas aplicadas al contenedor:
EJE Y --> Reglas align-… Las reglas align se aplican el eje y, y alinean el contenido dentro de un espacio grid.
    align-content: …;
  Reglas de alineación equivalentes a las de justify-content, pero en el eje y. Los valores que se pueden dar son los mismos.
    align-items: …;
  Reglas de alineación equivalentes a las de justify-items, pero en el eje y. Los valores que se pueden dar son los mismos.*/

/* Reglas aplicadas a los artículos:
    EJE X --> justify-self: …;
  Propiedad que alinea un elemento concreto dentro de su celda en el eje x, sin afectar al resto de elementos de la fila. Los valores que se pueden dar son: center (centrado), stretch (ocupa el 100% de la celda), start (inicio de la celda), end (final de la celda). 
    EJE Y --> align-self: …;
  Reglas de alineación equivalentes a las de justify-self, pero en el eje y. Los valores
que se pueden dar son los mismos.*/
.elm3 {
  background: #004e92;
  color: white;
  justify-self: end;
  align-self: center;
  order: 1;
}
/*   order: …;
  Propiedad equivalente al order de flexbox, y que permite cambiar el orden en el que aparece un elemento en un espacio grid. Por defecto todos los elementos tienen un order: 0. Los valores negativos harán que aparezca antes que los elementos cuyo order no se haya alterado, y los valores positivos, después. --> Para más detalles, ver archivo 'solucionado_flexbox.css' en carpeta 3-1.*/

.elemento {
  background-color: rgba(250, 250, 250, 0.8);
  padding: 1em;
  border-radius: 10px;
  text-align: center;
  color: #004e92;
  font-weight: 600;
  font-style: italic;
  font-size: 1.2em;
  line-height: 1.4;
}