@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

html {
  min-height: 100%;
}

body {
  min-height: 100%;
  color: #333333;
  font-family:'Questrial', sans-serif;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

@media (max-width: 37.5rem) {
  body {
    font-size: 16px;
  }
}

h1 {
  font-size: 12vw;
  line-height: 1;
  font-weight: 600;
  font-style: italic;
  opacity: 0.75;
  margin-bottom: 1rem;
}

p {
  margin-top: 1em;
}

@media (max-width: 37.5rem) {
  p {
    margin-top: 1.2em;
  }
}

.cabecera {
  background: linear-gradient(38deg, #D97708, #FEF7A4);
  color: #333333;
  display: flex;
  position: relative;
}

.cabecera__bloque1 {
  height: 100vh;
  width: 50%;
}

.cabecera__bloque2 {
  height: 100vh;
  width: 50%;
}

.cabecera__titulo {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  text-align: center;
  padding: 6em;
}

.cabecera img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: 25% top;
  display: block;
  opacity: 0.4;
  filter: grayscale(100%);
}

@media (max-width: 37.5rem) {
  .cabecera {
    flex-direction: column;
  }
  .cabecera__bloque1 {
    width: 100%;
    height: 50vh;
  } 
  .cabecera__bloque2 {
    width: 100%;
    height: 50vh;
  }
  .cabecera img {
    width: 100%;
    height: 100%;
    object-position: center top;
  }
  .cabecera__titulo {
    align-items: center;
  }
}

.articulo {
  max-width: 90vw;
  margin: 3em auto;
  padding: 0 1em;
}

.articulo__entradilla {
  column-count: 2;
  column-gap: 2em;
  column-rule: thick solid rgba(0, 78, 146, 0.05);
  margin-bottom: 3em;
  font-weight: 600;
  font-size: 115%;
  line-height: 1.7;
  color: #D97708;
  text-align: justify;
  hyphens: auto;
}

.articulo__entradilla > p {
  margin-bottom: 0;
}

.articulo__cuerpo {
  max-width: 34em;
  margin: auto;
}
.articulo__cuerpo > p:first-child::first-letter {
  color: #D97708;
  font-size: 500%;
  font-weight: 600;
  line-height: 0.75;
  float: left;
  padding-right: 1rem;
  padding-bottom: 1rem;
}

@media (max-width: 37.5rem) {
  .articulo {
    padding: 0 2em;
  }
  .articulo__entradilla {
    column-count: 1;
    font-size: 100%;
    text-align: left;
  }
}

.imagen-circulo {
  border-radius: 50%;
  width: 50vw;
  height: 50vw;
  float: right;
  margin-right: -20vw;
  background: #004e92;
  shape-outside: circle(50%) border-box;
  shape-margin: 3em;
}

.imagen-circulo img {
  display: block;
  border-radius: 50%;
  mix-blend-mode: hard-light;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.imagen-octagon {
  width: 50vw;
  height: 30vw;
  float: left;
  background: #004e92;
  margin-left: -20vw;
  margin-right: 1em;
  clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
  shape-outside: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%) border-box;
  shape-margin: 3em;
}

.imagen-octagon img {
  display: block;
  mix-blend-mode: hard-light;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center top;
}

@media (max-width: 37.5rem) {
  .imagen-circulo {
    margin: 1em auto;
    float: none;
  }

  .imagen-octagon {
    margin: 1em auto;
    float: none;
  }
}