@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

html {
  min-height: 100%;
}

body {
  min-height: 100%;
  color: #333333;
  font-family:'Questrial', sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(to top, #ffff, #fafafa);
}

@media (max-width: 37.5rem) {
  body {
    font-size: 1.2em;
  }
}

h1 {
  line-height: 1;
  font-weight: 600;
  font-style: italic;
}
